*.sql
.bundle
.DS_Store
.inspector.yml
.loadpath
.project
.rvmrc
config/database.yml
config/newrelic.yml
config/deploy/*-local.rb
db/*.sqlite3
doc/api
doc/app
doc/plugins
log/*
tmp/*
tmp/**/*
tmp/profile-flat.txt
tmp/profile-graph.html
coverage*
public/assets/
public/stylesheets/compiled
public/404.html
public/502.html
public/503.html
public/500.html
public/robots.txt
tags
.sass-cache/
